.gameSelection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
}

.games-list {
    flex-direction: column;
    gap: 20px;
}
.custom-block{
    display: flex;
}