.nav-item {
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;

    &:hover {
        cursor: pointer;
        text-decoration: underline;
    }
    a{
        text-decoration: none;
    }
}