body {
    background-color: #A0EADE;

}

nav {
    margin: 1rem auto;
    padding: 0 2rem;
    background-color: orange;
    border-radius: 10px;
    border: 4px solid black;
}

ul {
    list-style: none;
    padding: 0;
    width: 100%;
    display: flex;
    height: 10vh;
    align-items: center;
    overflow: hidden;
}