.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    text-align: center;
}

.title {
    font-size: 6rem;
    color: #FF4444;
    margin: 0;
}

.link {
    font-size: 1.2rem;
    color: #333;
    margin-top: 1rem;
}